@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    overflow: hidden; /* or auto, scroll, visible */
}


body

{

    font-family: "Nunito Sans", sans-serif;
}

:root {

    --dark-primary: #080108;
    --font-primary: #12bdff;
    --button-primary:#57a2e8;

}



header{
    background-color: rgb(12, 14, 13);
    padding:10px 20px;
    color: var(--font-primary);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    font-weight: 600;

}




.button1:hover{

    background-color: var(--font-primary);
    color: var(--dark-primary);
    border-radius: 5px;
    padding: 10px 20px;
        }

 header ul
{

display: flex;
text-decoration: none;
list-style: none;

}


header ul li {
    margin-right: 30px;
    
}

header ul li a {

    color: var(--font-primary);
    text-decoration: none;

}



/*   Hero image   */

 
section.hero-section {

background-color: var(--dark-primary);
color: aliceblue ;
display: flex;
align-items: center;
padding: 70px 21px 70px 158px;
}


.hero-section-title{

font-size: 48px;    
font-weight: 800;

}

.hero-section-desc{

color:aqua;
color: #78afe2;

}



.social-icons{

margin: 15px 15px 15px 0px;
display: flex;
list-style: none;

}

.social-icons li{

    margin-right: 15px;
}

.social-icons li :hover {

    color:white;
}

.social-icons li > a {

text-decoration: none;
color: var(--font-primary);


}


/*  buttons  */

.btn{
padding: 10px 15px;
border-radius: 2px;
}


/* button blue*/

.btn.btn-primary
{

    background-color:var(--font-primary);
    font-weight: 600;
    color: aliceblue;
    outline: none;
    border: none;
}

.btn.btn-primary:hover{

    background-color: var(--dark-primary);
}



.btn.btn-secondary{

background-color: var(--dark-primary);
color:aliceblue;
outline-color: var(--dark-primary);

}

header button{

    background-color: var(--dark-primary);
    color: var(--font-primary);
    border-radius: 5px;
    padding: 10px 20px;
    margin:10px ;
    }

.hero-buttons button {

    background-color: var(--dark-primary);
    color: var(--font-primary);
    border-radius: 5px;
    padding: 10px 20px;
    margin:15px ;
  

}


.about-section{

    padding:30px;
    
    display: flex;
    background-color: #22282f;
    align-items: center;
    justify-content: center
}



.about-section img{

    width: 400px;
   padding: 0px;
   justify-content: center;
   
}

.about-section h4{

   color: white;
   font-size: 30px;
   font-weight: 800;

}


.about-section ul
{
    margin: 20px 0px;
    justify-content: center;
}

.about-section ul li 
{
   /* margin: 5px 10px 5px 5px; */
   margin-bottom: 10px;
    justify-content: center;
    list-style: none;
    color: white;
}

.about-section--desc{

    max-width: 450px;
    margin: 10px 10px;

}

.about-section--desc{

    margin-bottom: 8px;

}

.about-section--desc h4 > span {

   color:var(--font-primary);

}

.about-section--desc ul li{

    margin-bottom: 10px;
    color: grey;

}

.about-section--desc ul li a:hover{

    color: grey;

}

.about-section--desc ul li a{

    text-decoration: none;
    color: grey;

}

.about-section--desc li > strong{

color: white;

}

/* work section */

.work-section{

background-color: var(--dark-primary);
color: white;
padding: 60px;
text-align: center;

}

.work-section-box{
background-color: #22282f;
padding: 30px;
max-width: 33.33%;
text-align: left;
border-radius: 10px;
margin: 10px;
}

.work-section-box p
{

    color: grey;
    font-size: 17px;

}

.work-section-box a{

    color: #e4dc98;
    font-size:13px;
   

}

.work-section-box__desc {

    color: #e4dc98;
    font-size:13px;
    margin-top: 30px;
    margin-bottom: 10px;
  
}

.work-section-box__icon{

background-color: #12bdff;
padding: 10px;
border-radius: 50%;
margin-bottom: 10px;
width: 40px;

}

.work-section-box:hover {
    background-color: #252425;
    border: solid 1px blue;
    }

 
   
.work-section-items {

    display: flex;
    justify-content: center;
    }


.work-section h2     {
        font-size: 36px;
        font-weight: 800;
    }
   
.work-section h2 span
    {
        color: var(--font-primary);
        font-size: 36px;
    }

.contact-section{

background-color: #252425;
padding: 20px;
justify-content: center;
text-align: center;
color:white;

}

.contact-section h4 {

    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

.contact-section h4 > span {

    color:var(--font-primary);


}

.contact-section form input {

    padding: 10px 10px;
    outline: none;
    width:350px;
    margin-bottom: 10px;
    border: none;
    background-color: #8dc6ec;
    border-radius: 2px;
    margin-bottom: 10px;

}

.contact-section form textarea {

    padding: 5px 10px;
    outline: none;
    width:350px;
    margin-bottom: 10px;
    border: none;
    background-color: #8dc6ec;
    border-radius: 2px;
    margin-bottom: 10px;

}


footer{

background-color:var(--dark-primary);
color: white;
padding: 20px;
text-align: center;
 


}


footer h4 span {

color: var(--font-primary)
}